<launch>
    <node pkg="screenrun" type="screenrun" name="screenrun_sim" args="b" required="true">
        <rosparam param="programs">
            -
                name: roscore
                commands:
                    - roscore\015
            -
                name: robot
                commands:
                    - roslaunch --wait stage_sickrd sickrd2014_zerg.launch\015
            -
                name: navigation
                commands:
                    - roslaunch gki_sickrd_executive navigation_hector_slam.launch
            -
                name: worldmodel
                commands:
                    - roslaunch gki_sickrd_executive worldmodel.launch
            -
                name: task
                commands:
                    - rosrun gki_sickrd_task start_sickrd_task.py
            -
                name: rviz 
                commands:
                    - rosrun rviz rviz --display-config $(rospack find gki_sickrd_executive)/rviz.rviz
            -
                name: ptz 
                commands:
                    - rosrun actionlib axclient.py /axis/axis_control
        </rosparam>
    </node>
</launch>
